body{
    margin: 0;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4529cb;

}
.title{
    margin: center auto;
    text-align: center;
    font-size: 35px;


}
.description{
    text-align: center;
    font-size: 20px;
}
.form-container{
    background-color: aqua;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.subtitles {
  font-weight: bold;
  text-align: center;
}

.form-container div {
  margin-bottom: 10px;
}

.form-container select {
  width: 100px;
}